@import "../../../../app/css/variables";

.salary {
    padding: 1.6rem 2.2rem;
    border: 1px solid rgba(30, 30, 30, .2);
    border-radius: $radius;
}

@media (min-width: 800px) {
    .salary {
        padding: 2rem 3rem;
    }
}


.salary__trafficlight {
    font-weight: 500;
    color: rgb(100, 173, 51);

    background-image: url('data:image/svg+xml;utf8,<svg width="23px" height="20px" viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20,10 C20,15.5227848 15.5227848,20 10,20 C4.66708861,20 0.308860759,15.8253165 0.0164556962,10.5658228 C0.00506329114,10.378481 0,10.1898734 0,10 C0,4.47721519 4.47721519,0 10,0 C10.7620253,0 11.5025316,0.0848101266 12.2151899,0.246835443 C16.6721519,1.25443038 20,5.23797468 20,10" fill="rgb(100, 173, 51)"></path><path d="M12.2151899,0.246860759 C12.1949367,0.249392405 12.1734177,0.251924051 12.1518987,0.253189873 C9.24050633,0.50635443 5.44303797,2.78483544 4.30379747,6.07597468 C3.17088608,9.34939241 1.03544304,10.3696456 0.0164556962,10.5658481 C0.00506329114,10.3785063 0,10.1898987 0,10.0000253 C0,4.47724051 4.47721519,2.53164557e-05 10,2.53164557e-05 C10.7620253,2.53164557e-05 11.5025316,0.084835443 12.2151899,0.246860759" fill="rgb(51, 51, 51)"></path><path d="M19.9772532,10.664557 C19.992443,10.4443038 20.000038,10.2227848 20.000038,10 C20.000038,5.23797468 16.6721899,1.25443038 12.2152278,0.246835443 C11.8025696,0.153164557 11.3797848,0.0848101266 10.9494051,0.0455696203 C20.2506709,-0.289873418 22.4051013,5.94936709 22.5316835,7.97468354 C22.6391519,9.69367089 21.0126962,10.4101266 19.9772532,10.664557" fill="rgb(47, 94, 0)"></path></svg>');
    background-repeat: no-repeat;
    background-position: 0 2px;

    padding-left: 30px;
    margin-bottom: 1rem;
}


.salary__text {
    margin-bottom: 5px;
}

.salary__text-big {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 500;
}
.salary__text-big--bigger {
    font-weight: 700;
}