.experience:not(:last-child) {
    margin-bottom: 4rem;
}

.experience__header {
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: 500;
    margin-bottom: 3px;
}

.experience__duration {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 8px;
}

.experience__position {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin-bottom: 3px;
}

.experience__description {

}
