@import "../../../../../components/app/css/variables";

.logo {
    margin-bottom: 6px;
}

.header {
    font-size: 3.8rem;
    line-height: 4.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.site-link {
    font-size: 2.8rem;
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.description {
    margin-bottom: 1.5rem;
}

.tags {
    margin-bottom: 3rem;
}

.tags__tag {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 3px 12px;
    background-color: white;
    border-radius: 13px;
    margin: 0 10px 10px 0;
}

.github-button {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: $text-color;

    background-image: url('../img/misc/github-logo.svg');
    background-position: 15px 10px;
    background-repeat: no-repeat;

    border: 1px solid rgba($text-color, 0.2);
    border-radius: $radius;
    padding: 5px 15px 6px 40px;
    margin-bottom: 4rem;

    &:hover {
        color: $text-color;
        border: 1px solid rgba($text-color, 0.2);
    }
}

.images {
    display: grid;
    grid-row-gap: 20px;

    & img {
        display: block;
        width: 100%;
        max-width: fit-content;
        border-radius: $radius;
    }
}
