
.main-part {
    padding: 20px 15px 0 15px;
}
.bottom-part {
    padding: 0 18px 25px 18px;
}

@media (min-width: 450px) {
    .main-part {
        padding: 28px 4% 0 4%;
    }
    .bottom-part {
        padding: 0 4% 30px 4%;
    }
}

@media (min-width: 700px) {
    .main-part {
        padding: 30px 5% 0 5%;
    }
    .bottom-part {
        padding: 0 5% 35px 5%;
    }
}

@media (min-width: 900px) {
    .main-part {
        padding: 30px 6% 0 6%;
    }
    .bottom-part {
        padding: 0 6% 35px 6%;
    }
}
