@import "variables.scss";

/* Подключение шрифтов */
@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
/* / Подключение шрифтов */


:root{
    font-size: 10px;
}


/* Для телефонов базовый размер шрифта будет больше.*/
@media (max-device-width: 600px) {
    :root{
        font-size: 12px;
    }
}


/* Общие настройки страницы */
body {
    display: flex;
    min-height: 100vh;

    font-family: 'TT Norms', Helvetica, sans-serif;
    color: $text-color;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(231, 238, 247);
}

/* Стиль ссылок */
a {
    color: $link-color;
    font-weight: 500;
    border-bottom: 1px solid $link-border-color;
    transition: border-bottom-color .25s;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: $link-color-hover;
    border-bottom: 1px solid $link-border-color-hover;
    transition: border-bottom-color .1s;
}

/* Стиль чёрной ссылки */
.black-link {
    color: $black-link-color;
    border-bottom-color: $black-link-border-color;
}
.black-link:hover {
    color: $black-link-color-hover;
    border-bottom-color: $black-link-border-color-hover;
}

button {
    cursor: pointer;
}


#root {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}