@import "../../../../../components/app/css/variables";

.tool:not(:last-child) {
    margin-bottom: 4rem;
}

.tool__name {
    font-size: 5rem;
    line-height: 5.4rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.tool__sign {
    display: inline-block;
    margin-left: 9px;
    vertical-align: -5px;
}

.tool__subtools {
    margin-bottom: .4rem;
}
.tool__subtool {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: white;

    padding: 6px 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.4rem;
}

.tool__details {

}
.tool__detail {
    margin-right: 2rem;
}
.tool__detail-backlight {
    font-weight: 500;
}


.separator {
    height: 1px;
    background-color: rgba(30, 30, 30, .2);
    margin: 3rem 0;
}



// Терминал и Гит
.second-tool:not(:last-child) {
    margin-bottom: 3rem;
}
.second-tool__header {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 7px;
}
.second-tool__sign {
    display: inline-block;
    vertical-align: -4px;
    margin-right: 6px;
}
.second-tool__text {

}


// Английский
.english {
    font-weight: 500;
    margin-bottom: 2rem;
}


// Программы
.programs {
    font-weight: 500;
}

.programs__left, .programs__right {
    display: inline-block;
}

.programs__left {
    margin-right: 2.5rem;
}
.programs__right {

}
.programs__right-item {
    position: relative;
    padding-left: 3rem;

    &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 10px;
        width: 5px;
        height: 5px;
        border: 2px solid $text-color;
        border-radius: 50%;
    }
}